@media (max-width: 992px) {

    nav {
        gap: 30px;
    }

    .btn-delete {
        margin-bottom: 40px;
    }

    /* Cont render */

    .card-product {
        width: 50%;
    }

    .img-product {
        width: 300px;
    }

    .producto-nombre {
        font-size: 1.5em;
    }

    .producto-valor {
        font-size: 1.4em;
    }

    /* Footer */

    footer {
        flex-wrap: wrap;
    }
    
    .footer-card {
        width: 100%;
    }

    .footer-contacto {
        width: 50%;
    }

    .footer-sede {
        width: 45%;
    }
    
}

@media (max-width: 778px) {

    /* Header */
    header {
        border: 1px solid white;
    }

    .navbar {
        display: flex;
        justify-content: end;
        width: 75%;
    }
    
    .navbar-list {
        display: none;
        position: absolute;
        top: 113px;
        left: 0px;
        padding: 50px;
        width: 100%;
        border-radius: 0px 0px 10px 10px;
        background-color: var(--amarillo);
        z-index: 2;
    }

    .link-header {
        color: var(--azul);
    }

    .link-header::after {
        background-color: var(--azul);
    }
    
    .active {
        font-weight: 600;
        color: var(--azul);
    }

    .menu-label {
        display: block;
    }

    .open-menu {
        display: flex;
    }

    /* About Us */
    .cont-aboutUs {
        flex-wrap: wrap;
    }

    .beneficio-uno {
        width: 100%;
    }

    .cont-beneficio-titulo {
        font-size: 1.3em;
    }

    /* Contenedor Render */
    .card-product {
        width: 60%;
    }

}

@media (max-width: 576px) {
    .navbar {
        justify-content: end;
    }

    .navbar-list {
        flex-direction: column;
    }

    footer {
        flex-wrap: wrap;
    }

    .footer-contacto {
        width: 100%;
    }

    .social-img {
        justify-content: center;
        gap: 50px;
    }

    .footer-sede {
        width: 100%;
    }
}